*
{
	background-color: white;
	color:#4c4c4c;
	margin: 0;
	font-size: 16px;
}
nav
{
	background: #005E9E;
}
nav ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul li
{
	display: inline-block;
	vertical-align: top;
}
nav ul li a
{
	background-color: #003F8D;
	border-radius: 20px 20px 20px 20px;
	color: white;
	font-size: 1.4em;
	text-decoration: none;
	display: block;
	margin: 50px 0 0 100px;
	padding-top: 20px;
	height: 100px;
	width: 250px;
	text-align: center;
	vertical-align: middle;
	-webkit-box-shadow: 3px 3px 2px 1px rgba(140, 120, 10, 1);
box-shadow: 3px 3px 2px 1px rgba(140, 120, 10, 1);
	

}
header
{
	background-color: white;
	height: 150px;
	width: 50%;
	margin: 0;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
border-radius: 7px;
/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
-moz-box-shadow: 0px 0px 20px #000000;
-webkit-box-shadow: 0px 0px 20px #000000;
box-shadow: 0px 0px 20px #000000;
/*IE 7 AND 8 DO NOT SUPPORT BLUR PROPERTY OF SHADOWS*/


}

@media only screen and (max-width:400px)
{
	nav ul li a
	{
		width:100%;
	}
}